#menu-lateral{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    transition: width .7s;
}
#menu-lateral ul{
    list-style: none;
    padding: 0;
}
#menu-lateral ul a{text-decoration: none; color: var(--primary-color);}
#menu-lateral ul a span{margin-left: 9px; color: transparent; transition: color .4s;}
#menu-lateral ul li{
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left:12px;
}
#menu-lateral ul li::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.11);
    position: absolute;
    width: 33px;
    height: 100%;
    top: 0;
    left: 0;
    transition: 1s;
}
#menu-lateral ul li:hover::after{
    content: '';
    width: 100%;
    z-index: -10;
}
/* conteúdo centro */
.conteudo-home{
  display: flex;
}
.conteudo-home-centro{
width: 96%;
height: 100vh;
transition: .7s;
}
/* menu direito */
.conteudo-home-direito{
    width: 4%;
    margin-left: auto;
    border-left: solid thin var(--white-transparent);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
.menu-direito-config button:hover .bi-gear-fill {
    transform: rotate(360deg);
    display: block;
    transition: 1.5s;
}

/* selects de configurações */
.select-config-box span{font-size: 18px;}
.select-config-box{display: flex; justify-content: space-between; align-items: center;}
.select-config {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
  }
  
  .select-config input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }